.performance-card {
    border-radius: 10px;
    padding: 5px;
}

.count-icon {
    font-size: 30px !important;
    color: #fff;
}

.card-count {
    font-weight: bold;
    font-size: 15px;
    /* line-height: 10px; */
    margin-top: 5px;
    color: #fff;
}

.performance-card-lable {
    font-size: 12px;
    margin-top: -38px;
    color: #fff;
}
