.performance-card {
    border-radius: 10px;

}

.count-icon {
    font-size: 20px !important;
    color: #fff;

}

.card-count {
    font-weight: bold;
    font-size: 12px;
    color: #fff;

}

.performance-card-lable {
    font-size: 10px;
    color: #fff;

}
