.performance-card {
    border-radius: 10px;
    /* padding: 2px; */
}

.count-icon {
    font-size: 25px !important;
    color: #fff;
}

.card-count {
    font-weight: bold;
    font-size: 12px;
    /* line-height: 10px; */
    /* margin-top: 2px; */
    color: #fff;
}

.performance-card-lable {
    font-size: 12px;
    /* margin-top: -38px; */
    color: #fff;
}
