
<div class="example-button-row ">
  <button mat-stroked-button color ><span class="material-icons">
    today
    </span>Today</button><br>
  <button mat-stroked-button color  >
    <span class="material-icons">
      today
      </span>This Week</button><br>
  <button mat-stroked-button color>
    <span class="material-icons">
      today
      </span>This Month</button><br>
  <button mat-stroked-button color>
    <span class="material-icons">
      today
      </span>This Year</button><br>

</div>
