
<div class="example-button-row ">

  <button  class=" col-12 d-flex h-100 mt-2" mat-stroked-button color >
      <span class="material-icons">
          today
        </span>Today
    </button>

    <button  class=" col-12 d-flex  h-100 mt-2" mat-stroked-button color >
      <span class="material-icons">
        today
        </span>This Week
    </button>

    <button  class=" col-12 d-flex  h-100 mt-2 " mat-stroked-button color >
      <span class="material-icons">
        today
        </span>This Month
    </button>

    <button  class=" col-12  h-100 mt-2" mat-stroked-button color >
      <span class="material-icons">
        today
        </span>This Year
    </button>

</div><br>




