
<div class="example-button-row ">

    <div class="d-flex ">
      <!-- <div class="row justify-content-center align-self-center"> -->
        <button mat-stroked-button color ><span class="material-icons">
          today
          </span>Today</button>
      <!-- </div> -->
  </div>
  <button mat-stroked-button color  >
    <span class="material-icons">
      today
      </span>This Week</button>
  <button mat-stroked-button color>
    <span class="material-icons">
      today
      </span>This Month</button>
  <button mat-stroked-button color>
    <span class="material-icons">
      today
      </span>This Year</button>

</div>
