.performance-card {
  border-radius: 4px;
}

.count-icon {
  font-size: 20px !important;
  color: #fff;
}


.card-count {
  font-weight: bold;
  font-size: 12px;
  /* line-height: 10px; */
  /* margin-top: 2px;
  color: #fff; */
}

.performance-card-lable {
  /* font-weight: bold; */
  font-size: 12px;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #418B12;
}

::ng-deep .mat-progress-bar-buffer {
  background: #bbc0c4;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}
