<!-- <mat-card class="progress-bar" > -->
  <div class="row m-0">
      <div class="col-12">
        <div class="row justify-content-center align-self-center">
          <div class="row">
            <div class="col-10">
              <span class="performance-card-lable" fxLayout="row" fxLayoutAlign="left left"  >
                {{dataModel.data.text}}
                   </span>

            </div>
           <div class="col-2">
            <div class="card-count" fxFlex="50" fxLayout="row" fxLayoutAlign="right right " >
              {{dataModel.data.count}}
                </div>
           </div>
          </div>

                <mat-progress-bar mode="determinate" [value]="dataModel.data.value" [appProgressBarColor]="dataModel.data.valuecolor"  >

              </mat-progress-bar>

            </div>
          </div>
        </div>
<!-- </mat-card> -->
