table {
  width: 100%;
}

th {
  text-align: center;

  font-weight: 400;
}

td{
  text-align: center;
  /* font-weight: 600; */
/* margin: 20px; */


}

.border-color
{
  border-color: #3C6BAF;
  border-radius: 20px;
  font-size: 12px;
  /* margin-right: 25px;

  margin-left: 1px; */
  color: #3C6BAF;
  font-weight: 500;


}
.th-color1{
  background-color:#F0B018 ;
  color: #fff;
  font-size: 12px;
 /* margin: 4px; */
 text-align: center;

}

.th-color2{
  background-color:#418B12 ;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.th-color3{
  background-color:#DC2C2B ;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
