
<p  style="background-color: #ffff;">

  <mat-toolbar color="defoult">
   <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> --><img src="assets/logo.png" alt="Logo" style="width: 100px;height: 20px;">
  <span class="material-icons icon-border" >
    home
    </span>
    <span class="class-permitmaneger">Permit Manager</span>
  <span class="example-spacer"></span>
 <span style="color: #3E6FB6;margin-left: 10px;font-size: 12px;">ABC Corporation</span>
 <span class="material-icons icon-border" >
  notifications
  </span>
  <mat-card style="margin-left: 10px;">
    <div class="row">
      <div class="col-3">
      <span class="material-icons material-icon-border" >
        VN
            </span>

          </div>
          <div class="col-9">
<span style="font-size: 12px;" >
  S Patil
</span>
<span style="font-size: 10px;"> ETC</span>
</div></div>

  </mat-card>

</mat-toolbar>

  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Performance at a Glance" ></mat-tab>

  </mat-tab-group>


</p>

