
<p  style="background-color: #ffff;">

  <mat-toolbar color="defoult">
   <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> --><img src="assets/logo.png" alt="Logo" style="width: 100px;height: 20px;">
  <span class="material-icons" style="border: 0.1px solid ;border-radius: 50%;color: #3E6FB6;margin-left: 10px;">
    home
    </span>
    <span style="border: 0.1px solid ;border-radius: 20px;color: #3E6FB6;margin-left: 10px;font-size: 12px;padding: 3px;">Permit Manager</span>
  <span class="example-spacer"></span>
 <span style="color: #3E6FB6;margin-left: 10px;font-size: 12px;">ABC Corporation</span>
 <span class="material-icons" style="border: 0.1px solid ;border-radius: 50%;color: #3E6FB6;margin-left: 10px;">
  notifications
  </span>
  <mat-card style="margin-left: 10px;">
    <div class="row">
      <div class="col-3">
      <span class="material-icons" style="border: 0px solid ;border-radius: 50%;color: #9C7BB9;padding: 8px; font-size: 10px;background-color: #F3F8FF;">
        VN
            </span>

          </div>
          <div class="col-9">
<span style="font-size: 12px;" >
  S Patil
</span>
<span style="font-size: 10px;"> ETC</span>
</div></div>

  </mat-card>

</mat-toolbar>

  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Performance at a Glance" ></mat-tab>
    <!-- <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab> -->
  </mat-tab-group>


</p>

