.headingtitle {
    font-size: 13px;
    padding-bottom: 3px;
    color: #3C6BAF;
    font-weight: 800;
}

.mat-card
{
border-radius: 15px;
}

.testdiv {
  border-right: 1px solid #E0E0E0;
}

.felx-row{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  text-align: center;
}
