
<!-- <div class="container-fluid">
    <div class="row my-2 mx-0">
        <div class="col-5">
            <mat-card>
                <div class="row">
                    <div class="text-center headingtitle">
                        Cost of Street Works
                    </div>
                    <div class="col-6">
                        <app-performace-card1 [dataModel]="performanceCard1DataModel" [configModel]="performanceCard1ConfigModel">
                        </app-performace-card1>
                    </div>
                    <div class="col-6">
                        <app-performace-card1 [dataModel]="performanceCard1DataModel2" [configModel]="performanceCard1ConfigModel2">
                        </app-performace-card1>
                    </div>
                    <div class="col-6 mt-md-3">
                        <app-performace-card1 [dataModel]="performanceCard1DataModel3" [configModel]="performanceCard1ConfigModel3">
                        </app-performace-card1>
                    </div>

                    <div class="col-6 mt-md-3">
                        <app-performace-card1 [dataModel]="performanceCard1DataModel4" [configModel]="performanceCard1ConfigModel4">
                        </app-performace-card1>
                    </div>
                </div>
              </mat-card>

               <div class class="col-7">
                <mat-card class="mt-2">
                  <div class="row">
                    <div class="col-12 " >
                      <div class="text-center headingtitle">
                       Performance Indicatores(Percentages)
                      </div>
                      <app-progress-bar [dataModel]="progressBarDataModel"  [configModel]="progressBarConfigModel">
                      </app-progress-bar><br>
                      <app-progress-bar [dataModel]="progressBarDataModel2" [configModel]="progressBarConfigModel2">
                      </app-progress-bar><br>
                      <app-progress-bar [dataModel]="progressBarDataModel3" [configModel]="progressBarConfigModel3">
                      </app-progress-bar><br>
                      <app-progress-bar [dataModel]="progressBarDataModel4" [configModel]="progressBarConfigModel4">
                      </app-progress-bar><br>
                      <app-progress-bar [dataModel]="progressBarDataModel5" [configModel]="progressBarConfigModel5">
                      </app-progress-bar>
                       <br>
                        <mat-progress-bar mode="determinate" background="red"  [value]="50"> </mat-progress-bar>
                        <br>
                        <mat-progress-bar mode="determinate" [value]="10" > </mat-progress-bar>
                        <br>
                        <mat-progress-bar mode="determinate"  [value]="80"> </mat-progress-bar>
                        <br>
                        <mat-progress-bar mode="determinate"  [value]="80"> </mat-progress-bar>
                      </div>
                  </div>
                </mat-card>
              </div>
            </div>

        <div class="col-4">
          <mat-card>
                <div class="row">
                  <div class="col-12 " >
                       <h3>Testing</h3>
                      </div>
                    </div>
                  </mat-card>
                  <mat-card class="mt-1">
                    <div class="row">
                      <div class="col-12" >
                        <div class="text-center headingtitle">

                          Public Imapact Of Works
                      </div>
                        <div class="row">
                        <div class="col-4">
                          <app-performace-card1 [dataModel]="performanceCard1DataModel5" [configModel]="performanceCard1ConfigModel5">
                          </app-performace-card1>

                      </div>
                      <div class="col-4">
                        <app-performace-card1 [dataModel]="performanceCard1DataModel6" [configModel]="performanceCard1ConfigModel6">
                        </app-performace-card1>

                    </div>
                    <div class="col-4">
                      <app-performace-card1 [dataModel]="performanceCard1DataModel7" [configModel]="performanceCard1ConfigModel7">
                      </app-performace-card1>

                  </div>
                      </div>
                      </div>
                    </div>
                  </mat-card>

                </div>


        <div class="col-3">
            <mat-card>
                <div class="row">
                    <div class="text-center headingtitle">
                       Compliance & Quality
                    </div>
                    <div class="col-12 mt-1">
                        <app-performance-card2 [dataModel]="performanceCard2DataModel" [configModel]="performanceCard2ConfigModel">
                        </app-performance-card2>

                    </div>
                    <div class="col-12 mt-1">
                      <app-performance-card2 [dataModel]="performanceCard2DataModel2" [configModel]="performanceCard2ConfigModel2">
                      </app-performance-card2>

                  </div>
                    <div class="col-12 mt-1 ">
                        <app-performance-card2 [dataModel]="performanceCard2DataModel3" [configModel]="performanceCard2ConfigModel3">
                        </app-performance-card2>
                    </div>

                    <div class="col-12 mt-1 ">
                      <app-performance-card2 [dataModel]="performanceCard2DataModel4" [configModel]="performanceCard2ConfigModel4">
                      </app-performance-card2>
                  </div>

                  <div class="col-12 mt-1 ">
                    <app-performance-card2 [dataModel]="performanceCard2DataModel5" [configModel]="performanceCard2ConfigModel5">
                    </app-performance-card2>
                </div>

                  <div class="col-12 mt-1">
                    <app-performance-card2 [dataModel]="performanceCard2DataModel6" [configModel]="performanceCard2ConfigModel6">
                    </app-performance-card2>
                </div>

                <div class="col-12 mt-1">
                  <app-performance-card2 [dataModel]="performanceCard2DataModel7" [configModel]="performanceCard2ConfigModel7">
                  </app-performance-card2>
              </div>

              <div class="col-12 mt-1">
                <app-performance-card2 [dataModel]="performanceCard2DataModel8" [configModel]="performanceCard2ConfigModel8">
                </app-performance-card2>
            </div>
                </div>
            </mat-card>
        </div>


    </div>
</div> -->

<div class="container-fluid d-flex">
<div class="row my-2 mx-0">
  <app-admin-layout></app-admin-layout>
  <div class="col-sm-10 ">

    <div class="row">


      <div class="col-sm-8">
        <mat-card class="mt-1">
        <div class="row">
            <div class="text-center headingtitle">
             Permits
            </div>

            <div class="col-sm-6 testdiv "  >
              <app-performance-table></app-performance-table>


            </div>
            <div class="col-sm-6 ">
              <div > <app-performance-table2></app-performance-table2> </div>
              <div > <app-performance-table3></app-performance-table3></div>

            </div>


        </div>
      </mat-card>
    </div>


<div class="col-sm-4 flex-column felx-row">

  <div class="col-12 " >
        <mat-card >
          <div class="row ">

                 <app-performance-chart ></app-performance-chart>
                </div>

            </mat-card>
          </div>
          <div class="col-12" >
            <mat-card>
              <div class="row ">

                  <div class="text-center headingtitle">
                    Public Imapact Of Works
                </div>
                  <div class="row">
                  <div class="col-4">
                    <app-performace-card1 [dataModel]="performanceCard1DataModel5" [configModel]="performanceCard1ConfigModel5">
                    </app-performace-card1>

                </div>
                <div class="col-4">
                  <app-performace-card1 [dataModel]="performanceCard1DataModel6" [configModel]="performanceCard1ConfigModel6">
                  </app-performace-card1>

              </div>
              <div class="col-4">
                <app-performace-card1 [dataModel]="performanceCard1DataModel7" [configModel]="performanceCard1ConfigModel7">
                </app-performace-card1>

              </div>
                </div>
                </div>

            </mat-card>
          </div>
      </div>

      <div class="col-sm-4">
        <mat-card class="mt-2">

              <div class="row">
                <div class="col-12 " >
                  <div class="text-center headingtitle">
                   Performance Indicatores(Percentages)
                  </div>
                 <div class="mt-3">
                   <app-progress-bar [dataModel]="progressBarDataModel"  [configModel]="progressBarConfigModel">
                  </app-progress-bar></div>
                  <div class="mt-3" ><app-progress-bar  [dataModel]="progressBarDataModel2" [configModel]="progressBarConfigModel2">
                  </app-progress-bar></div>
                  <div class="mt-3"><app-progress-bar  [dataModel]="progressBarDataModel3" [configModel]="progressBarConfigModel3">
                  </app-progress-bar></div>
                  <div class="mt-3"><app-progress-bar [dataModel]="progressBarDataModel4" [configModel]="progressBarConfigModel4">
                  </app-progress-bar></div>
                  <div class="mt-3"><app-progress-bar [dataModel]="progressBarDataModel5" [configModel]="progressBarConfigModel5">
                  </app-progress-bar></div>

                  </div>
                </div>
            </mat-card>
          </div>



      <div class="col-sm-8">
        <mat-card class="mt-2">
          <app-bar-chart style="height: 80px;">
          </app-bar-chart>

       <!-- <h5>gdgf</h5> -->
      </mat-card>
    </div>


    </div>
  </div>



  <div class="col-sm-2 my-2" >
    <mat-card >
      <div class="row">
          <div class="text-center ">
            Duration
            <p>Today:24" Aug 2021</p>
          </div>
          <div class="col-12 mt-1">
            <app-radio-button></app-radio-button>
           </div>
          <div class="col-12 mt-1 ">

              <app-performance-card2 [dataModel]="performanceCard2DataModel" [configModel]="performanceCard2ConfigModel">
              </app-performance-card2>

          </div>
          <div class="col-12 mt-1">
            <app-performance-card2 [dataModel]="performanceCard2DataModel2" [configModel]="performanceCard2ConfigModel2">
            </app-performance-card2>

        </div>
          <div class="col-12 mt-1">
              <app-performance-card2 [dataModel]="performanceCard2DataModel3" [configModel]="performanceCard2ConfigModel3">
              </app-performance-card2>
          </div>

          <div class="col-12 mt-1 ">
            <app-performance-card2 [dataModel]="performanceCard2DataModel4" [configModel]="performanceCard2ConfigModel4">
            </app-performance-card2>
        </div>

        <div class="col-12 mt-1">
          <app-performance-card2 [dataModel]="performanceCard2DataModel5" [configModel]="performanceCard2ConfigModel5">
          </app-performance-card2>
      </div>

        <div class="col-12 mt-1">
          <app-performance-card2 [dataModel]="performanceCard2DataModel6" [configModel]="performanceCard2ConfigModel6">
          </app-performance-card2>
      </div>

      <div class="col-sm-12 mt-1">
        <app-performance-card2 [dataModel]="performanceCard2DataModel7" [configModel]="performanceCard2ConfigModel7">
        </app-performance-card2>
    </div>

    <div class="col-sm-12 mt-1">
      <app-performance-card2 [dataModel]="performanceCard2DataModel8" [configModel]="performanceCard2ConfigModel8">
      </app-performance-card2>
  </div>
      </div>
  </mat-card>
  </div>



</div>
</div>
