.performance-card {
    border-radius: 4px;
}

.count-icon {
    font-size: 20px !important;
    color: #fff;
}

.card-count {
    font-weight: bold;
    font-size: 20px;
    /* line-height: 10px; */
    margin-top: 2px;
    color: #fff;
}

.performance-card-lable {
    font-size: 14px;
    margin-top: -38px;
    color: #ACACAC;
}
