/* You can add global styles to this file, and also import other style files */


/* @import "~bootstrap/dist/css/bootstrap.css"; */

html,
body {
    height: 100px;
    background-color: #E4EDFA;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.equalizer-bar {
    width: 3.5rem;
    margin: 0 10px;
    display: flex;
    flex-direction: column-reverse;
}

.equalizer-bar span {
    display: block;
    height: 4px;
    border-radius: 4px;
    width: 100%;
    margin: 2px 0;
    background: gray;
    transition: 0.2s ease all;
    opacity: 1;
}

.info {
    text-align: center;
}

span.active {
    background: blue;
}
